.sidebarAudio {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.list {
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.fileName {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
