.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.presets {
  display: flex;
  gap: 8px;
}

.customRange {
  display: flex;
  gap: 8px;
  align-items: center;
}
