.sidebarTags {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.chipContainer {
  overflow-y: auto;
  scrollbar-width: none;
}

.chipContainer::-webkit-scrollbar {
  display: none;
}
