.audioHistoryContainer {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
}

.centeredState {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.fileName {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
